@charset “UTF-8”; /*この指定は、外部スタイルシートファイル内でのみ使用 文字化けを防ぐため*/

body{
	background-color: #D3FEF1;						/* 弱い青みの緑*/
}
.today_title{
	color:red;
}
.def-toha{
	color:black;
	width:480px;
/*	width:90%;	ng  */
	font-weight:bold;
	font-size:80%;
}
#wrap{
	width:580px;	*/				/*パソコン（スマホ以外）の場合がこれ*/
	margin:2px 0;					/*枠の外側 */
	padding:2px 2px 1px 12px;		/*枠の内側 */
	border:#f6bb9e 1px solid;

	font-size:16px;
	font-family:"メイリオ";
}
@media screen and (min-width: 970px) and  (max-width: 980px) {		/*上原のスマホは980pxの場合がこれ*/
		#wrap { width:930px; }
}

